@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to online product purchasing</h1>
    <p></p>
    <p></p>
    <img src="~/images/OtherMachine.jpg" height="700" width="700" />
</div>
