@model IEnumerable<DataAccess.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<h1>Our Products</h1>
<p>

</p>
<div>
    @if (User.IsInRole("Admin"))
     {
        <a class="btn btn-outline-success" asp-controller="Products" asp-action="AddProduct">Add a new product</a>
     }
</div>
<p>

</p>
<div class="row">
    @foreach (var item in ViewBag.products)
    {
        @if (item.ItemsLeft > 0)
        {
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="~/Images/@item.Image" height="220" width="100" asp-append-version="true" />
                    <div class="card-body">
                        <h4 class="card-title">@item.Name</h4>
                        <p class="card-text">@(item.Price) Lei</p>

                    </div>
                    <div class="addToCart text-right">
                        <p class="button ">

                            <a class="btn btn-success" id="cartButton" asp-controller="ShoppingBasketItems" asp-action="BuyProduct" asp-route-Id="@item.Id">Buy Now </a>

                        </p>
                        <p>
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="btn btn-danger" id="cartButton" asp-controller="Products" asp-action="Delete" asp-route-Id="@item.Id" onclick="return confirm('Are you sure you want to delete this item?')">Delete Now </a>
                            }


                        </p>
                    </div>
                </div>
            </div>
        }
    }
   
</div>



